.fundo-quadriculado {
    background-color: #ffffff; /* Cor do fundo */
    background-image: 
      linear-gradient(#f5f5f5 1px, transparent 1px),
      linear-gradient(90deg, #e9e9e9 1px, transparent 1px);
    
    /* Ajuste o tamanho do quadrado aqui (ex: 20x20) */
    background-size: 200px; 
  }